<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Edit Product</div>
                </div>
                <div class="card-body">
                    <form id="importMaterialForm">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="material2">Name material</label>
                                    <input type="text" class="form-control" id="material2" value="<%=menus.name %>"
                                        placeholder="Enter Name Material" required />
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="price-product">Price</label>
                                    <input type="number" class="form-control" id="price-product"
                                        placeholder="Enter Quantity" min="0" value="<%=menus.price %>" required />
                                    <script>
                                        document.getElementById('price-product').addEventListener('input', function () {
                                            if (this.value < 0) {
                                                this.value = 0;
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <div class="card-header">
                                        <div class="d-flex align-items-center">
                                            <h4 class="card-title">Add Material</h4>
                                            <button type="button" class="btn btn-primary btn-round ms-auto"
                                                data-bs-toggle="modal" data-bs-target="#addRowModal">
                                                <i class="fa fa-plus"></i>
                                                Add / Edit Material
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <!-- Modal -->
                                        <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog"
                                            aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header border-0">
                                                        <h5 class="modal-title">
                                                            <span class="fw-mediumbold"> Add or Edit</span>
                                                            <span class="fw-light"> Material </span>
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="small">
                                                            Create or edit a material using this form, make sure you
                                                            fill them
                                                            all.
                                                        </p>
                                                        <form id="materialSelectionForm">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group form-group-default">
                                                                        <label for="materialSelect">Select
                                                                            Material</label>
                                                                        <select id="materialSelect" class="form-control"
                                                                            onchange="updateMaterialUnit()">
                                                                            <option value="">Select a material</option>
                                                                            <% materials.forEach(material=> { %>
                                                                                <option value="<%= material._id %>"
                                                                                    data-name="<%= material.name %>"
                                                                                    data-quantity="<%= material.totalQuantity %>"
                                                                                    data-unit="<%= material.unit %>">
                                                                                    <%= material.name %> (Available: <%=
                                                                                            material.totalQuantity %>
                                                                                            <%= material.unit %>)
                                                                                </option>
                                                                                <% }) %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 pe-0 d-none">
                                                                    <div class="form-group form-group-default">
                                                                        <label>Name</label>
                                                                        <input id="addMaterialName" type="text"
                                                                            class="form-control"
                                                                            placeholder="Enter name" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 pe-0">
                                                                    <div class="form-group form-group-default">
                                                                        <label>Quantity</label>
                                                                        <input id="addMaterialQuantity" type="number"
                                                                            class="form-control"
                                                                            placeholder="Enter quantity" min="1" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group form-group-default">
                                                                        <label>Unit</label>
                                                                        <input id="addMaterialUnit" type="text"
                                                                            class="form-control" placeholder="Unit"
                                                                            readonly />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer border-0">
                                                        <button type="button" id="addRowButton" class="btn btn-primary">
                                                            Add / Save
                                                        </button>
                                                        <button type="button" class="btn btn-danger"
                                                            data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive">
                                            <table id="add-row" class="display table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Name material</th>
                                                        <th>Quantity</th>
                                                        <th>Unit</th>
                                                        <th style="width: 10%">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="materialTableBody"
                                                    data-material='<%= JSON.stringify(menus) %>'>
                                                    <!--  TODO: append this -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button id="submitFormButton1" class="btn btn-success">Submit</button>
                            <button type="button" class="btn btn-danger"
                                onclick="window.location.href='/menu'">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let materials = [];
    const materialData = document.getElementById('materialTableBody').getAttribute('data-material');

    let isEditing = false;
    let editIndex = -1;

    try {
        materials = JSON.parse(materialData);
        console.log("🚀 ~ materials:", materials);
    } catch (e) {
        console.error("Error parsing materials data: ", e);
    }

    function loadMaterials() {
        const tableBody = document.getElementById('materialTableBody');
        tableBody.innerHTML = '';

        materials.material.forEach((material, index) => {
            const newRow = document.createElement('tr');
            newRow.innerHTML = `
            <td>${material.materialId.name}</td>
            <td>${material.quantityUsed}</td>
            <td>${material.materialId.unit}</td>
            <td>
                <div class="form-button-action">
                    <button type="button" class="btn btn-link btn-primary btn-lg" onclick="editRow(${index})">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-link btn-danger" onclick="removeRow(${index})">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </td>
        `;
            tableBody.appendChild(newRow);
        });
    }
    loadMaterials();

    document.getElementById('addRowButton').addEventListener('click', function () {
        const selectedMaterial = document.getElementById('materialSelect');
        const materialId = selectedMaterial.value;
        const materialName = document.getElementById('addMaterialName').value; // This will be our unique key
        const materialQuantity = document.getElementById('addMaterialQuantity').value;
        const materialUnit = document.getElementById('addMaterialUnit').value;

        // Validation logic to check if fields are filled
        if (!materialId || !materialQuantity || !materialUnit) {
            alert('Please fill all fields before adding.');
            return;
        }

        // Check if the material with the same name already exists in the array
        const existingMaterialIndex = materials.material.findIndex(m => m.materialId.name === materialName);

        // If we are adding (not editing) and the material already exists, prevent the addition
        if (!isEditing && existingMaterialIndex !== -1) {
            alert(`Material "${materialName}" is already in the list. You can edit the quantity.`);
            return;
        }

        // Creating the material object to add/edit
        const newMaterial = {
            materialId: {
                _id: materialId,
                name: materialName, // This is the key we check for uniqueness
                unit: materialUnit,
            },
            quantityUsed: materialQuantity
        };

        // If we are editing, update the existing material in the array
        if (isEditing) {
            materials.material[editIndex] = newMaterial;
            isEditing = false;
        } else {
            // Otherwise, add a new material
            materials.material.push(newMaterial);
        }

        // Reload the table with updated materials
        loadMaterials();

        // Clear input fields
        document.getElementById('addMaterialQuantity').value = '';
        document.getElementById('addMaterialUnit').value = '';
        selectedMaterial.selectedIndex = 0;

        // Hide the modal
        $('#addRowModal').modal('hide');
    });
    function removeRow(index) {
        materials.material.splice(index, 1);
        loadMaterials();
    }

    function editRow(index) {
        const material = materials.material[index];
        // Set the material dropdown to the correct value
        document.getElementById('materialSelect').value = material.materialId._id;

        // Update the name and unit fields based on the selection
        document.getElementById('addMaterialName').value = material.materialId.name;
        document.getElementById('addMaterialQuantity').value = material.quantityUsed;
        document.getElementById('addMaterialUnit').value = material.materialId.unit;

        // Set editing state
        isEditing = true;
        editIndex = index;

        // Show the modal for editing
        $('#addRowModal').modal('show');
    }

    function updateMaterialUnit() {
        const selectedMaterial = document.getElementById('materialSelect');
        const unitInput = document.getElementById('addMaterialUnit');
        const nameInput = document.getElementById('addMaterialName');
        const selectedOption = selectedMaterial.options[selectedMaterial.selectedIndex];

        if (selectedOption.value) {
            unitInput.value = selectedOption.dataset.unit;
            nameInput.value = selectedOption.dataset.name;
        } else {
            unitInput.value = '';
            nameInput.value = '';
        }
    }
</script>
<script type="module" src="../js/apiFetchUtils.js"></script>
<script type="module">
    import { apiFetch } from '../js/apiFetchUtils.js';
    document.getElementById('submitFormButton1').addEventListener('click', async function (event) {
        event.preventDefault();

        // Gather form data
        const productId = '<%=menus._id%>'; // Assuming menus._id contains the product ID
        const name = document.getElementById('material2').value;
        const price = parseFloat(document.getElementById('price-product').value);
        console.log("Materials loaded: ", materials);
        // Use a different name here for materials, like 'selectedMaterials' to avoid conflict
        const selectedMaterials = materials.material.map(material => ({
            materialId: material.materialId._id,
            quantityUsed: material.quantityUsed
        }));

        // For example, let's assume there's a dropdown for the status (like 'available', 'out-of-stock', etc.)
        const status = 'Available';

        // Create the product data structure
        const productData = {
            name: name,
            price: price,
            status: status,  // Assuming the status comes from a select input
            material: selectedMaterials // The materials list populated from the form
        };

        // Send the data to the API
        try {
            const responseData = await apiFetch(`http://localhost:3000/api/menu/${productId}`, {
                method: 'PUT',
                body: JSON.stringify(productData)
            });
            console.log('Product saved successfully:', responseData);

            // Optionally, redirect or show a success message
            alert('Product saved successfully!');
            location.reload();
        } catch (error) {
            console.error('Error:', error);
            alert('Failed to save product.');
        }
    });
</script>