<button type="button" class="btn btn-info cancel-table-button" data-table="<%= data.number %>"
    data-status="<%= data.status %>" >
    <h4>
        <%= data.number %>
    </h4>
    <div class="table-status fw-bold <%= data.textStyle %>">(<%= data.status %>)</div>
</button>